*,
*::before,
*::after {
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

html {
    font-family: Roboto;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

header{
    margin: 0 auto;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
    /*background: rgb(230, 255, 230);*/
    background-image: url(../img/f2.webp);
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    border-top: 1px solid lightgray;
    /*background: rgb(230, 247, 255);*/
    background-image: url(../img/f2.webp);
}

h1 {
    color: #eeeee7;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 2.2;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 2.2;
    text-align: center;
}

h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 2.2;
    text-align: center;
}

.form__wrapper {
    background-color: #eeeee7;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 20px;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 50px;
    text-align: center;
}

.form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #be1116;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(253, 11, 46, 0.31);
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 15px;
}

textarea.form-control {
    overflow: auto;
    resize: vertical;
    height: auto;
}

/* CSS для секции "Пользовтельское соглашение" */
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-control-label::before {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    /*pointer-events: none;*/
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    /*border-color: #be1116;*/
    background-color: #be1116;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #be1116;
}

.custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #be1116;
    /*border-color: #be1116;*/
}

.form-agreement label {
    font-size: 0.875rem;
}

/* CSS для индикации полей форме при их валидности */
.form-control.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

textarea.form-control.is-valid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

.form-control.is-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25);
}

/* CSS для индикации полей форме при их не валидности */
.form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

textarea.form-control.is-invalid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}


.form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}

.form-control.is-invalid ~ .invalid-feedback {
    display: block;
}

/* CSS для индикатора */
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-bottom: 0.5rem;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.form-submit {

    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    background-color: #be1116;
    padding: 15px 25px;
    font: 16px Roboto;
    font-weight: 800;
    letter-spacing: 5px;
    border-radius: 5px;
}

.form-submit:hover{
    color: #be1116;
    background-color: #ffffff;
    border-color: #be1116;
}

/* CSS для кнопки submit */
button[type="submit"] {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #be1116;
    border: 1px solid #be1116;
    padding: .375rem .75rem .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
}

button[type="submit"]::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

button[type="submit"]:hover {
    color: #be1116;
    background-color: #fff;
    border-color: #be1116;
}

button[type="submit"]:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(253, 39, 10, 0.68);
}

button[type="submit"]:disabled {
    opacity: 0.65;
}

.link {
    text-align: center;
    margin: 20px;
}

.button {
    width: 150px;
    background-color: #be1116;
    border: 1px solid #be1116;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding: .375rem .75rem .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.button:hover {
    background-color: #fff;
    border: 1px solid #be1116;
    color: #be1116;
}

/* Стили для сообщения об ошибках */
.form-error {
    position: relative;
    padding: .5rem 1rem 0.6rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    color: #dc3545;
    background-color: #dc35450d;
    border: 1px solid #dc3545;
}

/* Стили для сообщения об успешной отправки */
.form-result-success {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    font-size: 1.25rem;
    border-radius: 4px;
}

.form-result-success > div {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #eff4f1;
    z-index: 1001;
    border-radius: 0;
    color: #28a745;
    background-color: #eff4f1;
}

.form-result-success a {
    color: #28a745;
    background-color: transparent;
    font-weight: 700;
}

.news {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, .125);
}

.row{

    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
}

.container_form{
    width: 75%;
    margin: 20px auto;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, .125);
}

.container {
    /*width: 1024px;*/
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.box-container {
    width: 100%;
    height: auto;
    display: flex;/* Раз */
    flex-direction: column;/*Два*/
}

.box-main {
    padding: 10px;
    flex: 1 0 auto;/*Три*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.articles {
    width: 75%;
    background-color: #eeeee7;
    position: relative;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    margin: 0 auto;
}

#name {
    width: 80%;
    margin: 10px;
}

#address {
    width: 80%;
    margin: 10px;
}

#phone, #email {
    width: 80%;
    margin: 10px;
}

.form-agreement a{
    color: #be1116;
}

.container_table{
    margin: 20px auto;
    width: 75%;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
}

.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #eeeee7;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.table tr th:first-child, .table tr td:first-child {
    border-left: 1px solid #ddd;
}

.table tr th:last-child, .table tr td:last-child {
    border-right: 1px solid #ddd;
}

.table thead tr th:first-child {
    border-radius: 10px 0 0 0;
}

.table thead tr th:last-child {
    border-radius: 0 10px 0 0;
}

.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.table tbody tr:nth-child(even) {
    background: #F8F8F8;
}

.table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}

.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

#news {
    padding-right: 50px;
}

#news_name, #news_text {
    width: 100%;
    margin: 20px;
}

.hh, .gitlab {
    height: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiprezume, .tooltip .tooltipgitlab {
    visibility: hidden;
    width: 120px;
    background-color: #e0e0e0;
    color: #110b08;
    font-size: 12px;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiprezume::after, .tooltip .tooltipgitlab::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e0e0e0 transparent transparent transparent;
}

.tooltip:hover .tooltiprezume, .tooltip:hover .tooltipgitlab {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1180px) {
    h1, h2, h3 {
        font-size: 1.5rem;
    }

    .articles {
        width: 85%;
    }
}

@media (max-width: 990px) {
    .row {
        margin-right: 0px;
    }

    .articles {
        width: 95%;
    }

    .news {
        width: 90%;
    }

    .container_form {
        width: 90%;
    }

    .container_table {
        width: 100%;
        margin-bottom: 0px;
    }
}

@media (max-width: 890px) {
    label {
        display: none;
    }

    #name,
    #address,
    #phone,
    #email {
        width: 90%;
    }

    .container_form {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .table tbody td {
        font-size: 12px;
    }

}

@media (max-width: 700px) {
    .articles {
        width: 100%;
    }
    .link {
        margin:0px 10px 10px 10px;
    }

    .button {
        width: 300px;
        height: 50px;
        font-size: 1.5rem;
    }

    .articles {
        margin: 10px auto;
    }

    .container_table,
    .container_form {
        width: 100%;
    }

    .table {
        margin-bottom: 10px;
    }

    .table tbody td {
        font-size: 12px;
        padding: 0px;
    }

    #name,
    #address,
    #phone,
    #email {
        height: 50px;
    }

    .form-row {
        padding-left: 25px;
    }
}

@media (max-width: 540px) {
    .container_table {
        display: none;
    }

    .form-row {
        padding-left: 15px;
    }
}

@media (max-width: 400px) {
    .button {
        width: 250px;
        height: 40px;
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) {
    .form-row > .form-group {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 5px;
        padding-left: 5px;
    }
}